# Ignore cache files
**/cache/*
**/*.cache
**/*.log

# Ignore any potential sensitive information
**/*.key
**/*.secret
**/*.token
Code/CachedExtensionVSIXs/ms-vscode.cpptools-1.25.2-linux-x64

# General cache and log files
**/cache/
**/*cache/
**/*Cache/
**/[Cc]ache/
**/*.log
*.db
*.xml
*.ini
*.conf
*.list
*.dirs
*.locale
*.yml.save

# Application-specific files and directories
abrt/
configstore/
dconf/
enchant/
eog/
evince/
evolution/
gcloud/
gh/
gh-copilot/
GIMP/
github-copilot/
gnome-boxes/
gnome-session/
goa-1.0/
google-chrome/
gsconnect/
ibus/
kdeconnect/
Kvantum/
libreoffice/
libvirt/
matplotlib/
menus/
Miru/
Mousepad/
mpv/
nautilus/
obs-studio/
pulse/
qalculate/
qBittorrent/
quickshell/
Rygel/
systemd/
Thunar/
totem/
uad/
user-share/
vlc/
whoozle.github.io/
YouTube Music/
nextjs-nodejs/
# Specific files
.gsd-keyboard.settings-ported
connections.db
dleyna-server-service.conf
gnome-initial-setup-done
GNOME-xdg-terminals.list
mimeapps.list
monitors.xml
pavucontrol.ini
QtProject.conf
rygel.conf
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
Code/CachedExtensionVSIXs/*
Code/Cache/*
Code/
gtk-3.0/
