 /* ---- 💫 https://github.com/LinuxBeginnings 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #B095A3;
active-foreground: #F9EAEB;
normal-background: #17161B;
normal-foreground: #F9EAEB;
urgent-background: #C5B3C9;
urgent-foreground: #F9EAEB;

alternate-active-background: #9C839C;
alternate-active-foreground: #F9EAEB;
alternate-normal-background: #17161B;
alternate-normal-foreground: #F9EAEB;
alternate-urgent-background: #17161B;
alternate-urgent-foreground: #F9EAEB;

selected-active-background: #B095A3;
selected-active-foreground: #17161B;
selected-normal-background: #B095A3;
selected-normal-foreground: #17161B;
selected-urgent-background: #9C839C;
selected-urgent-foreground: #17161B;

background-color: #17161B;
background: rgba(0,0,0,0.7);
foreground: #F9EAEB;
border-color: #B095A3;

color0: #3E3D43;
color1: #49435A;
color2: #4B425A;
color3: #756275;
color4: #84707A;
color5: #948697;
color6: #B39295;
color7: #EED8DA;
color8: #A79799;
color9: #615A78;
color10: #645979;
color11: #9C839C;
color12: #B095A3;
color13: #C5B3C9;
color14: #EFC2C6;
color15: #EED8DA;


}

